 *
{
    margin: 0;
    padding: 0;
    background-color: white;
}
/*HEADER*/
header
{
    width: 100%;
    background-color: black;
}
img
{
    width: 5%;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 100%;
}
a
{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 100px;
    width: 100%;
}
/*FIN HEADER*/



table
{
    margin:auto;
    border-collapse: collapse;
    text-align: center;
}
h1
{
    text-align: center;
    padding: 2%;
    color: red;
}
td
{
    width: 50px;
    height: 50px;
    border: solid black;
}
tr:first-of-type td:first-of-type {
    visibility: hidden;
}
/*FOOTER*/

footer, p
{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
   
}